.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}

.header > div {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: #232528;
  font-weight: 700;
  font-size: 1.25rem;
}

.header ul {
  display: flex;
  gap: 1.5rem;

  @media (width <= 640px) {
    display: none;
  }
}

.header ul li {
  cursor: pointer;
}

.header ul li:hover {
  color: #999;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: gray;
  border-radius: 999px;
}
