
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1200px;
    margin: auto;

    padding: 1rem;
}

.header > div {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header ul {
    display: flex;
    gap: 0.5rem;
}   

.header ul li {
    cursor: pointer;


}

.header ul li:hover {
    color: green;
}